@model IEnumerable<BP_Proyecto.Models.Policy>

@{
    ViewData["Title"] = "Index";
}

<h1>Polizas</h1>

<button type="button" class="btn btn-outline-info">
    <a asp-action="Create">Create New</a>
</button>

<form asp-controller="Policies" asp-action="Search" >
    <p>
        Buscar: <input type="text" name="buscar" class="form-text" />
        <input type="submit" value="Buscar" class="btn btn-sm btn-dark" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PolicyType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoverageAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpirationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coverage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PolicyStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Premium)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PolicyPeriod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InclusionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsuranceCompany)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PolicyType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoverageAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coverage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PolicyStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Premium)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PolicyPeriod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InclusionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsuranceCompany)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.PolicyNumber">Edit</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.PolicyNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
